<!-- Card -->
<article
  class="card-detail {{
    card.types.length ? card.types[0].toLowerCase() : ''
  }} flex z-2 padding-y-4 padding-x-2 relative flex-wrap flex-start"
  *ngIf="card"
>
  <!-- Type bg -->
  <img
    *ngIf="card.types.length"
    class="bg-type"
    [src]="getTypeImage(card.types[0])"
  />

  <div class="max flex width-12 z-3 relative">
    <div class="flex padded-2 box justify-center small-vertical flex-nowrap">
      <!-- Card image -->
      <div class="relative z-2 flex vertical box-0 gap-1">
        <figure class="card-image-wrapper" [class.active]="cardImageHover">
          <div class="card-image link {{ card.gfx ? 'gfx-mobile' : '' }}">
            <img
              src="{{ activeVariation?.image || card.image }}"
              class="img-card-image border-radius-card shadow transition"
              (click)="createDialogCardImage()"
              onerror="this.src='./assets/placeholder.png';"
            />
          </div>
        </figure>
        <div *ngIf="card.variations && card.variations.length > 1">
          <app-select [select]="selectVariations"></app-select>
        </div>
        <div>
          <div class="flex padded-small justify-center">
            <!-- TCG Player -->
            <div *ngIf="buttonTCGPlayer">
              <app-button [button]="buttonTCGPlayer"></app-button>
            </div>

            <!-- Ebay -->
            <div *ngIf="buttonEbay && false">
              <app-button [button]="buttonEbay"></app-button>
            </div>

            <!-- Admin -->
            <div class="admin-access" *ngIf="hasAdminAccess">
              <app-button [button]="buttonAdmin"></app-button>
            </div>
          </div>
        </div>
      </div>

      <div class="relative z-1 flex vertical medium-12 box-0">
        <!-- Card header -->
        <div class="card-header">
          <div class="flex flex-center flex-nowrap padded">
            <!-- Name -->
            <div class="card-name ellipsis box">
              <h2 *ngIf="!linkTitle">{{ card.name }}</h2>
              <h2 *ngIf="linkTitle">
                <a [href]="card.route">{{ card.name }}</a>
              </h2>
            </div>

            <!-- HP -->
            <div class="flex padded flex-center flex-nowrap" *ngIf="card.hp">
              <div class="card-hp bold h2">
                <span class="subheading">HP</span>{{ card.hp }}
              </div>
              <div class="card-energies flex flex-nowrap padded">
                <div *ngFor="let type of card.types">
                  <a
                    class="card-energy {{ type.toLowerCase() }}"
                    [routerLink]="
                      '/cards/types/' + type.toLowerCase().replace(' ', '-')
                    "
                  >
                    <div class="card-energy-inner">
                      <img [src]="getTypeImage(type)" />
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel width-12 padding-0 box-1" style="min-width: 340px">
          <!-- Tabs -->
          <tabs>
            <!-- Details -->
            <tab title="Details">
              <div class="flex gap-1 vertical">
                <!-- Expansion -->
                <div class="flex gap-small flex-nowrap">
                  <div class="width-6">
                    <!-- Expansion -->
                    <expansion-item-grid
                      size="small"
                      [expansion]="card.expansion"
                    >
                    </expansion-item-grid>
                  </div>
                  <!-- Pokemon -->
                  <div
                    class="width-6"
                    *ngIf="
                      card.primary_pokemon_variants &&
                      card.primary_pokemon_variants.length === 1
                    "
                  >
                    <!-- Pokemon -->
                    <div
                      class="box"
                      *ngFor="let variant of card.primary_pokemon_variants"
                    >
                      <pokemon-item-grid
                        size="small"
                        [pokemonVariant]="variant"
                      >
                      </pokemon-item-grid>
                    </div>
                  </div>
                </div>

                <div class="flex flex-center padded-small">
                  <!-- Rarity -->
                  <div *ngIf="tagRarity">
                    <a
                      class="block rounded"
                      [routerLink]="
                        card.rarity &&
                        '/cards/rarity/' +
                          card.rarity.name.toLowerCase().replace(' ', '-')
                      "
                    >
                      <tag [tag]="tagRarity"></tag>
                    </a>
                  </div>

                  <!-- Artist -->
                  <div *ngIf="tagArtist">
                    <a
                      class="artist-link block rounded"
                      [routerLink]="
                        '/cards/artists/' +
                        card.artist.toLowerCase().replace(' ', '-')
                      "
                    >
                      <tag [tag]="tagArtist"></tag>
                    </a>
                  </div>

                  <!-- Number -->
                  <div *ngIf="tagNumber">
                    <tag [tag]="tagNumber"></tag>
                  </div>

                  <!-- Number -->
                  <div *ngIf="tagShiny">
                    <a
                      class="artist-link block rounded"
                      [routerLink]="'/cards/shiny/'"
                    >
                      <tag [tag]="tagShiny"></tag>
                    </a>
                  </div>
                </div></div
            ></tab>

            <!-- Text -->
            <tab title="Text">
              <div class="flex gap-1 vertical">
                <!-- Abilities -->
                <div class="card-abilities" *ngIf="card.abilities">
                  <div
                    class="card-ability"
                    *ngFor="let ability of card.abilities"
                  >
                    <span class="ability-type">{{ ability.type }}:</span>&nbsp;
                    <span class="ability-name">{{ ability.name }}</span
                    >&nbsp;
                    <span class="ability-text">{{ ability.text }}</span>
                  </div>
                </div>

                <hr *ngIf="card.abilities" />

                <!-- Attacks -->
                <div
                  class="card-attack flex vertical gap-1"
                  *ngIf="card.attacks"
                >
                  <!-- Attack -->
                  <div
                    *ngFor="let attack of card.attacks"
                    class="flex vertical"
                  >
                    <!-- Attack meta -->
                    <div class="flex gap-1 flex-center">
                      <div class="attack-cost flex gap-small">
                        <div
                          *ngFor="let cost of attack.cost"
                          class="flex vertical justify-center"
                        >
                          <img [src]="getTypeImage(cost)" style="width: 14px" />
                        </div>
                      </div>
                      <div class="attack-name bold">
                        {{ attack.name }}
                      </div>
                      <div class="attack-damage">
                        {{ attack.damage }}
                      </div>
                    </div>

                    <!-- Attack text -->
                    <div class="attack-text">{{ attack.text }}</div>
                  </div>
                </div>

                <hr *ngIf="card.attacks" />

                <!-- Weakness, Resistance, Retreat cost -->
                <div
                  class="flex card-weakness-resistance-retreat align-center"
                  *ngIf="
                    card.weaknesses || card.resistances || card.retreat_cost
                  "
                  style="max-height: 32px"
                >
                  <div class="width-4 flex vertical">
                    <span class="subheading">weakness</span>
                    <div
                      *ngFor="let weakness of card.weaknesses"
                      class="flex flex-center justify-center gap-small"
                    >
                      <img
                        [src]="getTypeImage(weakness.type)"
                        style="width: 14px"
                      />
                      <span>
                        {{ weakness.value }}
                      </span>
                    </div>
                  </div>
                  <div class="width-4 flex vertical">
                    <span class="subheading">resistance</span>
                    <div
                      *ngFor="let resistance of card.resistances"
                      class="flex flex-center justify-center gap-small"
                    >
                      <img
                        [src]="getTypeImage(resistance.type)"
                        style="width: 14px"
                      />
                      <span>
                        {{ resistance.value }}
                      </span>
                    </div>
                  </div>
                  <div class="width-4 flex vertical">
                    <span class="subheading">retreat cost</span>
                    <div class="flex gap-small justify-center">
                      <div *ngFor="let cost of card.retreat_cost">
                        <img [src]="getTypeImage(cost)" style="width: 14px" />
                      </div>
                    </div>
                  </div>
                </div>

                <hr
                  *ngIf="
                    (card.weaknesses ||
                      card.resistances ||
                      card.retreat_cost) &&
                    card.rules
                  "
                />

                <!-- Rules -->
                <div *ngIf="card.rules" class="flex vertical gap-1">
                  <div *ngFor="let rule of card.rules">
                    {{ rule }}
                  </div>
                </div>
              </div>
            </tab>

            <!-- Pokemon -->
            <tab
              title="Pokémon"
              *ngIf="
                (card.primary_pokemon_variants &&
                  card.primary_pokemon_variants.length > 1) ||
                (card.secondary_pokemon_variants &&
                  card.secondary_pokemon_variants.length)
              "
            >
              <div class="flex vertical gap-1">
                <div
                  *ngIf="
                    card.primary_pokemon_variants &&
                    card.primary_pokemon_variants.length
                  "
                >
                  <h5
                    *ngIf="
                      card.secondary_pokemon_variants &&
                      card.secondary_pokemon_variants.length
                    "
                  >
                    Primary Pokémon
                  </h5>
                  <div class="flex gap-1">
                    <!-- Pokemon -->
                    <div
                      class="box"
                      *ngFor="let variant of card.primary_pokemon_variants"
                    >
                      <pokemon-item-grid
                        size="small"
                        [pokemonVariant]="variant"
                      >
                      </pokemon-item-grid>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="
                    card.secondary_pokemon_variants &&
                    card.secondary_pokemon_variants.length
                  "
                >
                  <h5>Secondary Pokémon</h5>
                  <div class="flex gap-1">
                    <!-- Pokemon -->
                    <div
                      class="box"
                      *ngFor="let variant of card.secondary_pokemon_variants"
                    >
                      <pokemon-item-grid
                        size="small"
                        [pokemonVariant]="variant"
                      >
                      </pokemon-item-grid>
                    </div>
                  </div>
                </div>
              </div>
            </tab>

            <!-- Prices -->
            <tab title="Prices">
              <div
                id="chartdiv"
                style="width: 500px; height: 400px; display: {{
                  showCardPrices ? 'block' : 'none'
                }};"
              ></div>
              <empty *ngIf="!showCardPrices" [empty]="empty"></empty>
            </tab>
          </tabs>
        </div>
      </div>
    </div>
  </div>
</article>
