<div class="relative small-square" *ngIf="items">
  <!-- Header -->
  <items-header *ngIf="items.showHeader" [itemsHeader]="items.header">
  </items-header>

  <!-- Filter -->
  <items-filter
    *ngIf="items.showFilters"
    [itemsFilter]="items.filter"
    (outputGetItems)="_outputGetItems()"
    (outputSearchChanged)="searchChanged($event)"
    (outputSortByChanged)="sortByChanged($event)"
    (outputSortDirectionChanged)="sortDirectionChanged($event)"
    (outputDisplayModeChanged)="displayModeChanged($event)"
  >
  </items-filter>

  <!-- Empty -->
  <empty *ngIf="empty && showEmpty()" [empty]="empty"></empty>

  <!-- Groups -->
  <items-groups
    *ngIf="showGroups()"
    [groups]="items.itemGroups"
    [itemClasses]="items.itemClasses"
    [itemDisplayType]="items.itemDisplayType"
  >
  </items-groups>

  <!-- Footer -->
  <items-footer
    *ngIf="items.itemGroups.length && items.showFooter"
    [itemsFooter]="items.footer"
    (outputGetItems)="_outputGetItems()"
    (outputPageSizeChanged)="pageSizeChanged($event)"
  >
  </items-footer>
</div>
