<form
  class="padding-y-8 flex vertical flex-center"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <div class="flex vertical padded-2" style="max-width: 400px">
    <div>
      <h1>Reset Password</h1>
    </div>
    <div>
      <textbox [textbox]="textboxEmail"></textbox>
    </div>
    <div>
      <textbox [textbox]="textboxPassword"></textbox>
    </div>
    <div>
      <textbox [textbox]="textboxConfirmPassword"> </textbox>
    </div>
    <div>
      <app-button [button]="buttonSubmit"></app-button>
    </div>
  </div>
</form>
