<form
  class="padding-y-8 flex vertical flex-center"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <div class="flex vertical padded-2">
    <div>
      <h1>Sign In</h1>
    </div>
    <div>
      <textbox
        [textbox]="textboxEmail"
        formControlName="emailControl"
      ></textbox>
    </div>
    <div>
      <textbox
        [textbox]="textboxPassword"
        formControlName="passwordControl"
      ></textbox>
    </div>
    <div>
      <div class="flex padded flex-center">
        <div>
          <app-button [button]="buttonSubmit"></app-button>
        </div>
        <div>
          <a routerLink="/forgot">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</form>
