<form
  class="padding-y-8 flex vertical flex-center"
  [formGroup]="form"
  (ngSubmit)="submit()"
  style="max-width: 320px; margin: 0 auto"
>
  <div class="flex vertical padded-2">
    <div>
      <h1>Sign In</h1>
    </div>
    <div>
      <textbox
        [textbox]="textboxEmail"
        formControlName="emailControl"
      ></textbox>
    </div>
    <div>
      <textbox
        [textbox]="textboxPassword"
        formControlName="passwordControl"
      ></textbox>
    </div>
    <div>
      <div class="flex padded flex-center">
        <div>
          <app-button [button]="buttonSubmit"></app-button>
        </div>
        <div>
          <a routerLink="/forgot">Forgot Password?</a>
        </div>
      </div>
    </div>
    <div><hr /></div>
    <div>
      <h1>Register</h1>
      <p>
        Rotomdex is currently in <b>open beta</b>, create a free account today
        and help improve stability during this stage. Please consider reporting
        issues through
        <a target="_blank" href="https://discord.gg/FpPzMD2ZxP">discord</a>.
      </p>
      <p>
        A <b>free account</b> does have <b>limited scanning capacity</b> and
        collection features. Additional features can be unlocked by signing up
        for our <b>premium subscription</b> (Profile > Subscription) that
        includes additional scanning capacity and unlimited collection size.
      </p>
      <app-button [button]="buttonRegister"></app-button>
    </div>
  </div>
</form>
