<div class="scanner">
  <!-- Webcam -->
  <div class="scanner-camera-wrapper" (click)="runScan()">
    <webcam
      [trigger]="triggerObservable"
      [allowCameraSwitch]="true"
      [switchCamera]="nextWebcamObservable"
      [videoOptions]="videoOptions"
      [imageQuality]="1"
      (imageCapture)="handleWebcamImage($event)"
      (initError)="handleWebcamInitError($event)"
    ></webcam>
  </div>

  <!-- Results -->
  <a
    [routerLink]="'/scanner/list'"
    class="scanner-results-wrapper animated fadeInUp"
    *ngIf="scansVisible.length > 0"
  >
    <div class="scanner-results">
      <div
        *ngFor="let card of scansVisible"
        class="scanner-result animated zoomIn"
      >
        <img
          class="scanner-result-image"
          [src]="card.image"
          onerror="this.src='./assets/placeholder.jpg';"
        />
        <loader [active]="card.placeholder"></loader>
      </div>
      <div class="scanner-results-count">
        <span>{{ scans.length }}</span>
      </div>
    </div>
  </a>
</div>
