<div id="page-register">
  <form class="padding-large" [formGroup]="form" (ngSubmit)="submit()">
    <div class="flex vertical padded flex-center">
      <div>
        <h1>Sign Up</h1>
      </div>
      <div>
        <textbox
          [textbox]="textboxEmail"
          formControlName="emailControl"
        ></textbox>
      </div>
      <div>
        <textbox
          [textbox]="textboxUsername"
          formControlName="usernameControl"
        ></textbox>
      </div>
      <div>
        <textbox
          [textbox]="textboxPassword"
          formControlName="passwordControl"
        ></textbox>
      </div>
      <div>
        <textbox
          [textbox]="textboxConfirmPassword"
          formControlName="passwordConfirmControl"
        ></textbox>
      </div>
      <div>
        <app-button [button]="buttonSubmit"></app-button>
      </div>
    </div>
  </form>
</div>
