<div id="page-register" style="max-width: 320px; margin: 0 auto">
  <form class="padding-y-8" [formGroup]="form" (ngSubmit)="submit()">
    <div class="flex vertical padded">
      <div>
        <h1>Register</h1>
        <p>
          Rotomdex is currently in <b>open beta</b>, create a free account today
          and help improve stability during this stage. Please consider
          reporting issues through
          <a target="_blank" href="https://discord.gg/FpPzMD2ZxP">discord</a>.
        </p>
        <p>
          A <b>free account</b> does have <b>limited scanning capacity</b> and
          collection features. Additional features can be unlocked by signing up
          for our <b>premium subscription</b> (Profile > Subscription) that
          includes additional scanning capacity and unlimited collection size.
        </p>
      </div>
      <div>
        <hr />
      </div>
      <!-- <div>
        <textbox
          [textbox]="textboxCode"
          formControlName="codeControl"
        ></textbox>
      </div> -->
      <div>
        <textbox
          [textbox]="textboxEmail"
          formControlName="emailControl"
        ></textbox>
      </div>
      <div>
        <textbox
          [textbox]="textboxUsername"
          formControlName="usernameControl"
        ></textbox>
      </div>
      <div>
        <textbox
          [textbox]="textboxPassword"
          formControlName="passwordControl"
        ></textbox>
      </div>
      <div>
        <textbox
          [textbox]="textboxConfirmPassword"
          formControlName="passwordConfirmControl"
        ></textbox>
      </div>
      <div>
        <app-button [button]="buttonSubmit"></app-button>
      </div>
    </div>
  </form>
</div>
