<label *ngIf="select && select.label" class="label">
  {{ select.label }}
</label>

<div
  *ngIf="select && !select.advancedSelect"
  class="select"
  [class.dark]="select.dark"
>
  <fa-icon icon="caret-down"></fa-icon>
  <select
    (change)="change($event)"
    class="{{ select.classes ? select.classes : '' }}"
  >
    <option *ngFor="let option of select.options" [value]="option.value">
      {{ option.text }}
    </option>
    <optgroup
      *ngFor="let optionGroup of select.optionGroups"
      [label]="optionGroup.label"
    >
      <option *ngFor="let option of optionGroup.options" [value]="option.value">
        {{ option.text }}
      </option>
    </optgroup>
  </select>
</div>

<div
  *ngIf="select && select.advancedSelect"
  class="select-advanced {{ select.open ? 'open' : '' }} {{ select.classes }} {{
    select.anchor ? 'anchor-' + select.anchor : ''
  }}"
  (click)="click()"
  (clickOutside)="clickOutside()"
>
  <input type="hidden" (change)="change($event)" [value]="value" />
  <div class="placeholder" *ngIf="select.getSelectedOptions().length <= 0">
    {{ select.placeholder }}
  </div>
  <div class="selected-options" *ngIf="select.getSelectedOptions().length > 0">
    <div
      class="select-option"
      *ngFor="let option of select.getSelectedOptions()"
    >
      <fa-icon *ngIf="option.icon" [icon]="option.icon"></fa-icon>
      <span class="text">{{ option.text }}</span>
      <fa-icon (click)="unselectOption(option)" icon="times"></fa-icon>
    </div>
  </div>
  <div class="available-options" *ngIf="select.open">
    <div class="search-options">
      <textbox [textbox]="textboxSearch"></textbox>
    </div>
    <div class="available-options-inner">
      <div
        class="select-option"
        *ngFor="let option of select.getUnselectedOptions()"
        (click)="selectOption(option)"
      >
        <img *ngIf="option.image" [src]="option.image" />
        <fa-icon *ngIf="option.icon" [icon]="option.icon"></fa-icon>
        <span class="text">{{ option.text }}</span>
      </div>
    </div>
  </div>
  <fa-icon icon="caret-down"></fa-icon>
</div>
