<header
  id="header"
  [class.transparent]="transparent"
  [class.scrolled]="scrolled"
>
  <div class="max">
    <div class="flex box padded">
      <div class="width-3 flex">
        <app-menu id="menuBack" [menu]="menuBack"></app-menu>
      </div>
      <div class="width-6 flex justify-center">
        <a class="logo" routerLink="">
          <span><b>Rotom</b>dex</span>
        </a>
      </div>
      <div
        *ngIf="signedIn"
        class="profile flex justify-end width-3"
        profile
      ></div>
      <div *ngIf="!signedIn" class="login flex justify-end width-3">
        <app-menu id="menuLogin" [menu]="menuLogin"></app-menu>
      </div>
    </div>
  </div>
</header>

<div class="menu-wrapper">
  <app-menu id="menu" class="flex" [menu]="menu"></app-menu>
</div>
