@import "settings";

:host {
  position: fixed;
  z-index: 999;
}

.dialog {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background: $panel-bg;
  box-shadow: $shadow-large;
  border-radius: $border-radius-small;
  max-width: calc(100% - #{$spacing * 4});
  max-height: calc(100% - #{$spacing * 4});
  overflow: hidden;
  z-index: 999;
  @media (max-width: $screen-small) {
    width: calc(100% - #{$spacing * 4});
  }
  cursor: default;
  .dialog-header {
    padding: $spacing * 2;
    border-bottom: $border;
    .dialog-close {
      position: relative;
      cursor: pointer;
      transition: $transition;
      border-radius: $border-radius-small;
      width: 24px;
      height: 24px;
      &:hover {
        box-shadow: $shadow-focus;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 16px;
        height: 2px;
        background: $font-color;
        top: 50%;
        left: 50%;
      }
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
  .dialog-content {
    padding: $spacing * 2;
    flex: 1;
    overflow-y: auto;
  }
}
