<div *ngIf="card">
  <!-- Details -->
  <card-details [card]="card"></card-details>

  <div class="relative z-1">
    <!-- User Cards -->
    <div *ngIf="userCards">
      <card-user-cards
        [card_id]="card.id"
        [userCards]="userCards"
        [on_wishlist]="card.on_wishlist"
        [is_favorite]="card.is_favorite"
        [variations]="card.variations"
      ></card-user-cards>
    </div>

    <!-- Related -->
    <div>
      <items [items]="relatedCards" (outputGetItems)="getRelatedCards()">
      </items>
    </div>

    <!-- Expansion -->
    <div>
      <items [items]="expansionCards" (outputGetItems)="getExpansionCards()">
      </items>
    </div>
  </div>
</div>
