<div *ngIf="card">
  <!-- Card -->
  <article
    class="card-detail {{
      card.types.length ? card.types[0].toLowerCase() : ''
    }} flex z-2 padding-y-4 padding-x-2 relative flex-wrap flex-start"
    *ngIf="card"
  >
    <!-- Type bg -->
    <img
      *ngIf="card.types.length"
      class="bg-type"
      [src]="getTypeImage(card.types[0])"
    />

    <div class="max flex width-12 z-3 relative">
      <div class="flex padded-2 box justify-center small-vertical">
        <!-- Card image -->
        <div class="relative z-2 flex justify-center">
          <figure class="card-image-wrapper" [class.active]="cardImageHover">
            <div class="card-image link {{ card.gfx ? 'gfx-mobile' : '' }}">
              <img
                src="{{ card.image }}"
                class="img-card-image border-radius-card shadow transition"
                (click)="createDialogCardImage()"
                onerror="this.src='./assets/placeholder.png';"
              />
            </div>
          </figure>
        </div>

        <div class="relative z-1 flex medium-12 justify-center">
          <div class="panel medium-12 medium-square" style="min-width: 320px">
            <div class="flex padded-small vertical">
              <!-- Card header -->
              <div class="card-header">
                <div class="flex flex-center flex-nowrap padded">
                  <div class="card-name ellipsis box">
                    <h2>{{ card.name }}</h2>
                  </div>
                  <div
                    class="flex padded flex-center flex-nowrap"
                    *ngIf="card.hp"
                  >
                    <div class="card-hp bold h2">
                      <span class="subheading">HP</span>{{ card.hp }}
                    </div>
                    <div class="card-energies flex flex-nowrap padded">
                      <div *ngFor="let type of card.types">
                        <a
                          class="card-energy {{ type.toLowerCase() }}"
                          [routerLink]="
                            '/cards/types/' +
                            type.toLowerCase().replace(' ', '-')
                          "
                        >
                          <div class="card-energy-inner">
                            <img [src]="getTypeImage(type)" />
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex padded-small flex-nowrap">
                <div class="min-6" *ngIf="card.pokemon">
                  <!-- Pokemon -->
                  <pokemon-item-grid
                    size="small"
                    [pokemonVariant]="card.pokemon.variant"
                  >
                  </pokemon-item-grid>
                </div>
                <div class="min-6">
                  <!-- Expansion -->
                  <expansion-item-grid
                    size="small"
                    [expansion]="card.expansion"
                  >
                  </expansion-item-grid>
                </div>
              </div>

              <div class="flex flex-center padded-small">
                <!-- Rarity -->
                <div *ngIf="tagRarity">
                  <a
                    class="block rounded"
                    [routerLink]="
                      card.rarity &&
                      '/cards/rarity/' +
                        card.rarity.toLowerCase().replace(' ', '-')
                    "
                  >
                    <tag [tag]="tagRarity"></tag>
                  </a>
                </div>

                <!-- Artist -->
                <div *ngIf="tagArtist">
                  <a
                    class="artist-link block rounded"
                    [routerLink]="
                      '/cards/artists/' +
                      card.artist.toLowerCase().replace(' ', '-')
                    "
                  >
                    <tag [tag]="tagArtist"></tag>
                  </a>
                </div>

                <!-- Number -->
                <div *ngIf="tagNumber">
                  <tag [tag]="tagNumber"></tag>
                </div>

                <!-- Number -->
                <div *ngIf="tagShiny">
                  <a
                    class="artist-link block rounded"
                    [routerLink]="'/cards/shiny/'"
                  >
                    <tag [tag]="tagShiny"></tag>
                  </a>
                </div>
              </div>

              <div class="width-12">
                <div class="flex padded-small">
                  <!-- TCG Player -->
                  <div *ngIf="buttonTCGPlayer">
                    <app-button [button]="buttonTCGPlayer"></app-button>
                  </div>

                  <!-- Ebay -->
                  <div *ngIf="buttonEbay && false">
                    <app-button [button]="buttonEbay"></app-button>
                  </div>

                  <!-- Admin -->
                  <div class="admin-access" *ngIf="hasAdminAccess">
                    <app-button [button]="buttonAdmin"></app-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <div class="relative z-1">
    <!-- User Cards -->
    <div *ngIf="userCards">
      <card-user-cards
        [card_id]="card.id"
        [userCards]="userCards"
        [on_wishlist]="card.on_wishlist"
        [is_favorite]="card.is_favorite"
      ></card-user-cards>
    </div>

    <!-- Related -->
    <div>
      <items [items]="relatedCards" (outputGetItems)="getRelatedCards()">
      </items>
    </div>

    <!-- Expansion -->
    <div>
      <items [items]="expansionCards" (outputGetItems)="getExpansionCards()">
      </items>
    </div>
  </div>
</div>
