<div class="width-12 align-center hero flex vertical justify-center">
  <div
    class="hero-bg"
    style="background-image: url('/assets/moltresgalar.jpg')"
  ></div>
  <div class="max">
    <div class="padding-10 hero-content">
      <div class="logo" style="max-width: 420px">
        <h1>Welcome</h1>
        <h5>
          {{ message }}
        </h5>
      </div>
      <div class="padding-top">
        <search></search>
      </div>
    </div>
  </div>
  <div class="hero-overlay"></div>
</div>
