<div class="width-12 align-center hero flex vertical justify-center">
  <div
    class="hero-bg"
    style="background-image: url('/assets/moltresgalar.jpg')"
  ></div>
  <div class="max">
    <div class="padding-10 hero-content">
      <div class="logo" style="max-width: 420px">
        <img src="/assets/logo.png" />
        <h1>Welcome</h1>
        <h5>
          {{ message }}
        </h5>
      </div>
      <div
        *ngIf="showButton"
        class="padding-top margin-top flex justify-center"
      >
        <app-button [button]="installButton"></app-button>
      </div>
      <div class="padding-top margin-top">
        <search></search>
      </div>
      <div class="padding-top margin-top">
        <div class="responsive-iframe">
          <iframe
            id="ytplayer"
            type="text/html"
            width="720"
            height="405"
            src="https://www.youtube.com/embed/EKocnAsWRpQ"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-overlay"></div>
</div>
