<div class="width-12">
  <div class="flex flex-center">
    <div class="box">
      <div class="flex flex-center">
        <div class="box">
          <div class="flex flex-center">
            <div class="width-3 small-4">
              <app-select [select]="selectCondition"></app-select>
            </div>
            <div class="width-3 small-none">
              <app-select [select]="selectGradingCompany"></app-select>
            </div>
            <div class="width-3 small-none">
              <app-select [select]="selectPrinting"></app-select>
            </div>
            <div class="width-3 small-4">
              <app-select [select]="selectBinder"></app-select>
            </div>
          </div>
        </div>
        <div>
          <app-button [button]="buttonNotes"></app-button>
        </div>
      </div>
    </div>
    <div>
      <app-button [button]="buttonRemove"></app-button>
    </div>
  </div>
</div>
