<div *ngIf="mbFormControl">
  <textbox
    *ngIf="isTextbox()"
    [textbox]="mbFormControl.control"
    [formControl]="mbFormControl.formControl"
  ></textbox>
  <app-textarea
    *ngIf="isTextarea()"
    [textarea]="mbFormControl.control"
    [formControl]="mbFormControl.formControl"
  ></app-textarea>
  <app-select
    *ngIf="isSelect()"
    [select]="mbFormControl.control"
    [formControl]="mbFormControl.formControl"
  ></app-select>
  <editor
    *ngIf="isEditor()"
    [editor]="mbFormControl.control"
    [formControl]="mbFormControl.formControl"
  ></editor>
  <checkbox
    *ngIf="isCheckbox()"
    [checkbox]="mbFormControl.control"
    [formControl]="mbFormControl.formControl"
  ></checkbox>
  <toggle
    *ngIf="isToggle()"
    [toggle]="mbFormControl.control"
    [formControl]="mbFormControl.formControl"
  ></toggle>
</div>
