<div *ngIf="appFormControl">
  <textbox
    *ngIf="isTextbox()"
    [textbox]="appFormControl.control"
    [formControlName]="appFormControl.formControlName"
  ></textbox>
  <app-textarea
    *ngIf="isTextarea()"
    [textarea]="appFormControl.control"
    [formControlName]="appFormControl.formControlName"
  ></app-textarea>
  <app-select
    *ngIf="isSelect()"
    [select]="appFormControl.control"
    [formControlName]="appFormControl.formControlName"
  ></app-select>
  <editor
    *ngIf="isEditor()"
    [editor]="appFormControl.control"
    [formControlName]="appFormControl.formControlName"
  ></editor>
  <checkbox
    *ngIf="isCheckbox()"
    [checkbox]="appFormControl.control"
    [formControlName]="appFormControl.formControlName"
  ></checkbox>
  <toggle
    *ngIf="isToggle()"
    [toggle]="appFormControl.control"
    [formControlName]="appFormControl.formControlName"
  ></toggle>
</div>
