@import "settings";

.button {
  height: 40px;
  line-height: 38px;
  padding: 0 16px;
  border: 1px solid darken($primary-color, 10%);
  border-radius: 999px;
  background: $primary-color;
  color: white;
  display: flex;
  align-items: center;
  transition: $transition;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-size: $font-size;
  outline: 0;
  white-space: nowrap;
  box-shadow: $shadow-sheen;
  justify-content: center;

  &.xsmall {
    padding: 0px 8px;
    font-size: 12px;
    height: 24px;
    line-height: 22px;
    .symbol + .text {
      margin-left: 4px;
    }
    .icon {
      fa-icon {
        width: 10px !important;
        height: 10px !important;
      }
    }
  }

  &.small {
    padding: 0 12px;
    font-size: 14px;
    height: 32px;
    line-height: 30px;
    .symbol + .text {
      margin-left: 4px;
    }
    .icon {
      fa-icon {
        width: 12px !important;
        height: 12px !important;
      }
    }
  }
  &.left {
    justify-content: flex-start;
  }
  &.right {
    justify-content: flex-end;
  }
  .text {
    display: flex;
    align-items: center;
  }

  &.secondary {
    background: $secondary-color;
    border-color: darken($secondary-color, 10%);
  }

  // Icon
  .icon {
    fa-icon {
      width: 16px !important;
      height: 16px !important;
    }
    + .text {
      margin-left: $spacing;
    }
  }

  // Symbol
  .symbol {
    display: flex;
    img {
      height: 16px;
      filter: invert(1);
    }
    + .text {
      margin-left: $spacing;
    }
  }

  .text {
    + .money-tag {
      margin-left: $spacing;
    }
  }

  // States
  &:focus {
    box-shadow: $shadow-focus;
  }
  &:hover {
    background: mix(white, $primary-color, 10%);
    box-shadow: $shadow-sheen, $shadow-focus;
    &.secondary {
      background: mix(white, $secondary-color, 10%);
    }
  }
  &:active {
    box-shadow: $shadow-sheen, $shadow-focus, $shadow-focus-inset;
  }

  // Types
  &.error {
    background: $error;
    border: 1px solid darken($error, 10%);
  }
}
