@import "settings";

.alert {
  padding: $spacing ($spacing * 2);
  border: $border;
  border-radius: $border-radius-small;
  background: rgba($grey, 0.5);
  box-shadow: $shadow-sheen;
  color: rgba(black, 0.6);
  display: flex;
  align-items: center;
  fa-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  span {
    flex: 1;
  }
  &.warning {
    color: $font-color;
    background: mix($warning, $main-bg, 20%) !important;
  }
  &.error {
    color: $font-color;
    background: mix($error, $main-bg, 20%) !important;
  }
  &.success {
    color: $font-color;
    background: mix($success, $main-bg, 20%) !important;
  }
  &.info {
    color: $font-color;
    background: mix($info, $main-bg, 20%) !important;
  }
}
