<!-- Header -->
<app-header [transparent]="transparentHeader"></app-header>

<!-- Notifications -->
<notifications></notifications>

<!-- Main -->
<main id="main" [class.padding-top-none]="transparentHeader">
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<app-footer></app-footer>

<!-- Loader -->
<loader [active]="loading"></loader>

<!-- Dialog -->
<app-dialog [dialog]="dialog"></app-dialog>

<!-- Scroll top -->
<a class="scrollTop" *ngIf="showScrollToTop" (click)="scrollToTop()">
  <fa-icon icon="arrow-up"></fa-icon>
</a>
