<!-- Header -->
<app-header [transparent]="transparentHeader"></app-header>

<!-- Notifications -->
<notifications></notifications>

<!-- Main -->
<main id="main" [class.padding-top-none]="transparentHeader">
  <unverified></unverified>
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<app-footer></app-footer>

<!-- Loader -->
<loader [active]="loading"></loader>

<!-- Scroll top -->
<a class="scrollTop" *ngIf="showScrollToTop" (click)="scrollToTop()">
  <fa-icon icon="arrow-up"></fa-icon>
</a>

<div *ngIf="hasUpdate" class="overlay dialog-overlay">
  <div class="dialog">
    <div class="dialog-content">
      <h2>Software Update Available</h2>
      <p>Please refresh the page to get the latest version.</p>
      <app-button [button]="buttonUpdate"></app-button>
    </div>
  </div>
</div>
