<a class="card-grid" [routerLink]="card.route ? card.route : []">
  <div class="card-image-wrapper" *ngIf="card.image">
    <div class="card-image">
      <loader [active]="imageLoading"></loader>
      <img
        src="{{ card.image }}"
        onerror="this.src='./assets/placeholder.png';"
        [hidden]="imageLoading"
        (load)="onLoad()"
      />
      <div
        class="money-tag"
        *ngIf="
          card.last_prices &&
          card.last_prices.length &&
          card.last_prices[0].market_price
        "
      >
        {{ card.last_prices[0].market_price | currency }}
      </div>
      <div class="collection">
        <textbox [textbox]="textbox"></textbox>
      </div>
    </div>

    <div class="card-information flex flex-nowrap flex-center">
      <div class="box ellipsis">
        <div class="card-number subheading">
          {{ card.number }}
        </div>
        <div class="card-name ellipsis">
          {{ card.name }}
        </div>
      </div>
      <div *ngIf="card.total_cards_owned > 0">
        <img
          title="Owned"
          class="pokeball"
          style="width: 24px"
          src="/assets/pokeball-green.png"
        />
      </div>
    </div>
  </div>
</a>
