<a class="card-grid" [routerLink]="card.route ? card.route : []">
  <div class="card-image-wrapper" *ngIf="card.image">
    <div class="card-image">
      <loader [active]="imageLoading"></loader>
      <img
        src="{{ card.image }}"
        onerror="this.src='./assets/placeholder.jpg';"
        [hidden]="imageLoading"
        (load)="onLoad()"
      />
      <div
        class="money-tag"
        *ngIf="false && card.last_prices && card.last_prices.market_price"
      >
        {{ card.last_prices.market_price | currency }}
      </div>
      <div class="collection">
        <textbox [textbox]="textbox"></textbox>
      </div>
    </div>

    <div class="card-information ellipsis">
      <div class="card-number subheading">
        {{ card.number }}
      </div>
      <div class="card-name ellipsis">
        {{ card.name }}
      </div>
    </div>
  </div>
</a>
