<a
  class="card-grid"
  [routerLink]="card.route ? card.route : null"
  (click)="click()"
>
  <div class="card-image-wrapper" *ngIf="card.image">
    <!-- Shiny -->
    <fa-icon
      *ngIf="card.is_shiny"
      class="shiny-icon"
      icon="stars"
      title="Shiny"
    ></fa-icon>

    <!-- Image -->
    <div class="card-image">
      <loader [active]="imageLoading"></loader>
      <div class="placeholder"></div>
      <img
        src="{{ card.image }}"
        onerror="this.src='./assets/placeholder.png';"
        [hidden]="imageLoading"
        (load)="onLoad()"
      />

      <!-- Collection qty -->
      <div class="collection" *ngIf="!card.scan && !hideQuantity">
        <textbox [textbox]="textbox"></textbox>
      </div>
    </div>

    <div class="card-information">
      <div class="flex padded vertical">
        <div>
          <div class="flex padded-small flex-nowrap">
            <!-- Rarity -->
            <div *ngIf="tagRarity">
              <a
                class="block rounded"
                [routerLink]="
                  card.rarity && '/cards/rarity/' + card.rarity.slug
                "
              >
                <tag [tag]="tagRarity"></tag>
              </a>
            </div>
            <!-- Owned pokeball -->
            <div class="box">
              <img
                *ngIf="card.total_cards_owned > 0"
                title="Owned"
                class="pokeball"
                style="width: 20px"
                src="/assets/pokeball-green.png"
              />
            </div>
            <!-- Price -->
            <div
              *ngIf="
                card.last_prices &&
                card.last_prices.length &&
                card.last_prices[0].market_price
              "
            >
              <div class="money-tag">
                {{ card.last_prices[0].market_price | currency }}
              </div>
            </div>
          </div>
        </div>
        <div class="ellipsis">
          <div class="flex flex-nowrap flex-center ellipsis">
            <div class="box ellipsis">
              <div class="card-number subheading ellipsis">
                {{ card.number }} - {{ card.expansion.name }}
              </div>
              <div class="card-name ellipsis">
                {{ card.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
