<footer id="footer">
  <div
    class="footer-bg"
    style="background-image: url('/assets/moltresgalar.jpg')"
  ></div>
  <div class="footer-overlay"></div>
  <div class="max">
    <div class="flex padded justify-center">
      <div class="width-3 small-12">
        <app-menu [menu]="menuLeft"></app-menu>
      </div>
      <div class="width-3 small-12">
        <app-menu [menu]="menuCenter"></app-menu>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  Rotomdex is not affiliated with, sponsored or endorsed by, or in any way
  associated with Pokemon or The Pokemon Company International Inc. &copy;
  {{ year }} Rotomdex. All rights reserved.
</div>
