<div class="max">
  <div class="padding-2" *ngIf="user_level && user_level !== 'free'">
    <div class="grid padded vertical">
      <div><h2>Current Subscription</h2></div>
      <div>
        {{ user_level.charAt(0).toUpperCase() + user_level.slice(1) }}
      </div>
      <div>
        <app-button [button]="buttonManageSubscription"></app-button>
      </div>
    </div>
  </div>
  <div class="padding-2" *ngIf="verified">
    <subscriptions-table></subscriptions-table>
  </div>
  <div class="padding-2" *ngIf="!verified">
    <p>You must verify your account to continue.</p>
  </div>
</div>
