<!-- Hero -->
<hero></hero>

<div class="section dark">
  <div class="max">
    <div class="flex justify-center padded-8">
      <div class="width-6 small-12">
        <h2>Open Beta</h2>
        <p>
          Rotomdex is currently in <b>open beta</b>, create a free account today
          and help improve stability during this stage. Please consider
          reporting issues through
          <a target="_blank" href="https://discord.gg/FpPzMD2ZxP">discord</a>.
        </p>
        <p>
          A <b>free account</b> does have <b>limited scanning capacity</b> and
          collection features. Additional features can be unlocked by signing up
          for our <b>premium subscription</b> (Profile > Subscription) that
          includes additional scanning capacity and unlimited collection size.
        </p>
        <app-button *ngIf="!signedIn" [button]="signupButton"></app-button>
        <app-button *ngIf="signedIn" [button]="subscriptionButton"></app-button>
      </div>
    </div>
  </div>
</div>

<!-- Expansions -->
<div class="section dark" *ngIf="featured && featured.expansions">
  <div class="max">
    <div class="flex flex-center padded-8">
      <div class="width-6 small-12 small-order-2">
        <div id="expansion-logos">
          <div class="flex padded relative">
            <div
              class="width-3 flex vertical justify-center"
              *ngFor="let expansion of featured.expansions"
            >
              <a [routerLink]="expansion.route">
                <img
                  class="hover-zoom-large shadow hover-z-1"
                  src="{{ expansion.logo }}"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="width-6 small-12 small-order-1">
        <h2>Expansions</h2>
        <p>
          Explore the most recent expansions, vintage expansions, and everything
          in-between. Rotomdex provides the latest card and set data for both
          English and Japanese (coming soon).
        </p>
        <app-button [button]="expansionButton"></app-button>
      </div>
    </div>
  </div>
</div>

<!-- Cards -->
<div class="section dark" *ngIf="featured && featured.cards">
  <div class="max">
    <div class="flex flex-center padded-8">
      <div class="width-6 small-12">
        <h2>Cards</h2>
        <p>
          View every Pokemon card printed! Sort by artist, release date,
          Pokemon, rarity, or card type. Everyone has a favorite card but with
          14,000+ unique cards there is always new cards to appreciate.
        </p>
        <app-button [button]="cardsButton"></app-button>
      </div>
      <div class="width-6 small-12">
        <div id="cards">
          <div class="flex padded relative">
            <div class="width-2 small-3" *ngFor="let card of featured.cards">
              <a [routerLink]="card.route">
                <img
                  class="card hover-zoom-large hover-z-1"
                  src="{{ card.image }}"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pokemon -->
<div class="section dark" *ngIf="featured && featured.pokemon">
  <div class="max">
    <div class="flex flex-center padded-8">
      <div class="width-6 small-12 small-order-2">
        <div id="pokemon">
          <div class="flex padded relative">
            <div
              class="width-2 small-3"
              *ngFor="let pokemon of featured.pokemon"
            >
              <a [routerLink]="pokemon.route" class="pokemon-link">
                <img
                  class="sprite-default shadow"
                  src="{{ pokemon.sprites.default }}"
                />
                <img
                  class="sprite-animated shadow z-1"
                  src="{{
                    pokemon.sprites.animated || pokemon.sprites.default
                  }}"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="width-6 small-12 small-order-1">
        <h2>Pokemon</h2>
        <p>
          View the cards featuring your favorite Pokemon and explore the
          ever-growing Pokedex.
        </p>
        <app-button [button]="pokemonButton"></app-button>
      </div>
    </div>
  </div>
</div>

<!-- Collection -->
<div class="section dark">
  <div class="max">
    <div class="flex flex-center padded-8">
      <div class="width-6 small-12 small-order-1">
        <h2>Collection</h2>
        <p>
          Manage your entire Pokemon card collection! Organize cards using
          binders, decks, and other grouping categories. View and share your
          collection stats and history. Included card metadata:
        </p>
        <ul class="unordered-list">
          <li>Condition (mint, near mint, graded 10, graded 9.5, etc)</li>
          <li>Grading company (PSA, BGS, CGC, etc)</li>
          <li>Unique printings (1st edition, reverse foil, etc)</li>
          <li>Price (acquired price, market price)</li>
          <li>Notes (memories, history, misc)</li>
          <li>Group (binder, deck, box)</li>
          <li>Wishlist</li>
        </ul>
        <app-button [button]="collectionButton"></app-button>
      </div>
      <div class="width-6 small-12 small-order-2">
        <div id="collection">
          <div class="flex padded-large relative justify-center">
            <div class="width-4 flex justify-center">
              <fa-icon icon="book-open"></fa-icon>
            </div>
            <div class="width-4 flex justify-center">
              <fa-icon icon="layer-group"></fa-icon>
            </div>
            <div class="width-4 flex justify-center">
              <fa-icon icon="exchange"></fa-icon>
            </div>
            <div class="width-4 flex justify-center">
              <fa-icon icon="archive"></fa-icon>
            </div>
            <div class="width-4 flex justify-center">
              <fa-icon icon="folder"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
