<form
  class="padding-8 flex justify-center"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <div class="max-100" style="width: 400px">
    <div class="flex vertical padded">
      <div>
        <h1>Edit Profile</h1>
      </div>
      <div>
        <textbox [textbox]="textboxEmail"></textbox>
      </div>
      <div>
        <textbox [textbox]="textboxUsername"></textbox>
      </div>
      <!-- <div class="z-2">
        <app-select [select]="selectFavoritePokemon"></app-select>
      </div>
      <div class="z-1">
        <app-select [select]="selectUserIcon"></app-select>
      </div> -->
      <div>
        <toggle [toggle]="togglePublic"></toggle>
      </div>
      <div>
        <app-button [button]="buttonChangePassword"></app-button>
      </div>
      <div class="flex padded">
        <app-button [button]="buttonCancel" class="box"></app-button>
        <app-button [button]="buttonSubmit"></app-button>
      </div>
    </div>
  </div>
</form>
