<div class="width-12 card-user-card">
  <div class="flex">
    <div class="box">
      <div class="flex flex-end small-vertical gap-y">
        <div class="box small-12">
          <div class="flex gap-y">
            <div class="width-3 small-6">
              <app-select [select]="selectCondition"></app-select>
            </div>
            <div class="width-2 small-6">
              <app-select [select]="selectGradingCompany"></app-select>
            </div>
            <div class="width-2 small-6">
              <app-select [select]="selectPrinting"></app-select>
            </div>
            <div class="width-5 small-6">
              <app-select [select]="selectGroup"></app-select>
            </div>
          </div>
        </div>
        <div class="flex small-12">
          <div class="small-6">
            <app-button [button]="buttonNotes"></app-button>
          </div>
          <div class="small-6">
            <app-button [button]="buttonRemove"></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
