<div class="items-grid flex padded" *ngIf="items.length">
  <div class="item-grid {{ itemClasses }}" *ngFor="let item of items">
    <!-- Expansion -->
    <expansion-item-grid *ngIf="isExpansion(item)" [expansion]="item">
    </expansion-item-grid>

    <!-- Card -->
    <card-item-grid *ngIf="isCard(item)" [card]="item"> </card-item-grid>

    <!-- Pokemon -->
    <!-- <pokemon-item-grid
			*ngIf="isPokemon(item)"
			[pokemon]="item">
		</pokemon-item-grid> -->

    <!-- Pokemon variant -->
    <pokemon-item-grid *ngIf="isPokemonVariant(item)" [pokemonVariant]="item">
    </pokemon-item-grid>
  </div>
</div>
